@font-face {
  font-family: Raleway, sans-serif;
  src: url("font/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: Raleway, sans-serif;
  src: url("font/Raleway-Italic-VariableFont_wght.ttf");
  font-style: italic, oblique
}
   
  h1 {
    font-family: Raleway, sans-serif;
    color: SeaGreen;
    font-size: 24px;
  }
   
  p {
    font-family: Raleway, sans-serif;
    color: black;
    font-size: 18px;
  }


  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }