@font-face {
  font-family: Raleway, sans-serif;
  src: url("font/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: Raleway, sans-serif;
  src: url("font/Raleway-Italic-VariableFont_wght.ttf");
  font-style: italic, oblique
}
   
h1 {
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 18px;
}
   
p {
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 12px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (min-width: 992px) {
  flex-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  padding: 40px;
  }

  flex-container > logo {
  margin-right: auto;  
  }

  flex-container > nav-items {
    display: inline-block;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    color: black;
    font-size: 18px;
    display: inline-block;
    padding-top: 32px
 }

  flex-container > nav-item:a hover {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 30px
  }

  flex-container > h1 {
  flex: 100%; 
  }

  flex-container > p {
  flex: 100%; 
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
}

