@font-face {
  font-family: Raleway, sans-serif;
  src: url("font/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: Raleway, sans-serif;
  src: url("font/Raleway-Italic-VariableFont_wght.ttf");
  font-style: italic, oblique
}
   
h1 {
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 18px;
}
   
p {
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (min-width: 992px) {
  .header {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  }

  .logo {
  margin-right: auto; 
  }

  .left-text {
  margin-right: auto; 
  }

  .nav-item {
  list-style-type: none;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 18px;
  display: inline-block;
  padding-top: 32px
  }

  .nav-item a:link {
  text-decoration: none;
  padding: 10px 20px;
  padding-top: 30px
  }

  .nav-item a:visited {
  text-decoration: none;
  padding: 10px 20px;
  padding-top: 30px
  }

  .nav-item a:hover {
  text-decoration: none;
  padding: 10px 20px;
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 28px
  }
}

@media screen and (min-width: 768px) {
  .header {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  }
  
  .logo {
  margin-right: auto; 
  }

  .left-text {
  margin-right: auto; 
  }

  .nav-item {
  list-style-type: none;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 18px;
  display: inline-block;
  padding-top: 32px
  }

  .nav-item a:link {
  text-decoration: none;
  padding: 10px 20px;
  padding-top: 30px
  }

  .nav-item a:visited {
  text-decoration: none;
  padding: 10px 20px;
  padding-top: 30px
  }

  .nav-item a:hover {
  text-decoration: none;
  padding: 10px 20px;
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 28px
  }
}

@media screen and (max-width: 767px) {
  .header {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  }
    
  .logo {
  flex-basis: 100%;
  text-align: center;
  }

  .left-text {
  margin-right: auto;
  padding-left: 10%;
  padding-top: 2%;
  flex: 2;
  }

  .img {
  margin-left: auto;
  margin-right: auto;
  }

  .navbar {
  flex-basis: 50%;
  text-align: center;
  justify-items: stretch;
  }

  .nav-item {
  list-style-type: none;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 18px;
  padding-bottom: 10px;
  flex: 1;
  }
    
  .nav-item a:link {
  text-decoration: none;
  padding: 10px 20px;
  }
    
  .nav-item a:visited {
  text-decoration: none;
  padding: 10px 20px;
  }
    
  .nav-item a:hover {
  text-decoration: none;
  color: #0065FC;
  padding: 10px 20px;
  border-bottom: 2px solid #0065FC;
  }
}